<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
    </Found>
    <NotFound>
        <LayoutView>
            <p class="text-center text-gray-400 mt-20">页面不存在 (404)</p>
        </LayoutView>
    </NotFound>
</Router>
